{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">Job</div>
    <div class="span2">Last</div>
    <div class="span2">Today</div>
    <div class="span2">30 Days</div>
    <div class="span2">60 Days</div>
    <div class="span2">90 Days</div>
  </div>

  {% for key in data.keys() %}
  <div class="row-fluid">
    <div class="span2"><a href="#">{{ key[0] }} - {{ key[1] }}</a></div>
    {% if data[key][0] == "Fail" %}
    <div class="span2 critical">{{ data[key][0] }}</div>
    {% else %}
    <div class="span2 ok">{{ data[key][0] }}</div>
    {% endif %}
	
     {% if not data[key][1] %}
	<div class="span2 unknown">None</div>
     {% else %}
    	{%  if data[key][1] < 90 %}
    	<div class="span2 critical">{{ data[key][1] }}%</div>
    	{% else %}
    	<div class="span2 ok">{{ data[key][1] }}%</div>
    	{% endif %}
    {% endif %}
    {% if not data[key][30] %}
	<div class="span2 unknown">None</div>
    {% else %}
    	{% if data[key][30] < 90 %}
        <div class="span2 critical">{{ data[key][30] }}%</div>
        {% else %}
        <div class="span2 ok">{{ data[key][30] }}%</div>
        {% endif %}
    {% endif %}
    {% if not data[key][60] %}
	<div class="span2 unknown">None</div>
    {% else %}
        {% if data[key][60] < 90 %}
        <div class="span2 critical">{{ data[key][60] }}%</div>
        {% else %}
        <div class="span2 ok">{{ data[key][60] }}%</div>
        {% endif %}
    {% endif %}
    {% if not data[key][90] %}
	<div class="span2 unknown">None</div>
    {% else %}
        {% if data[key][90] < 90 %}
        <div class="span2 critical">{{ data[key][90] }}%</div>
        {% else %}
        <div class="span2 ok">{{ data[key][90] }}%</div>
        {% endif %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
