{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">Job</div>
    <div class="span2">Last</div>
    <div class="span2">Today</div>
    <div class="span2">30 Days</div>
    <div class="span2">60 Days</div>
    <div class="span2">90 Days</div>
  </div>

  {% for key in data.keys() %}
  <div class="row-fluid">
    <div class="span2"><a href="/jobrun2/jobfailures?rk={{ key[0] }}">{{ key[0] }} - {{ key[1] }}</a></div>
    {% if data[key][0] != 0 %}
      <div class="span2 critical">Fail</div>
    {% else %}
      <div class="span2 ok">Success</div>
    {% endif %}
	
     {% if not data[key][1] %}
	<div class="span2 unknown">None</div>
     {% else %}
    	{%  if data[key][1] < 90 %}
    	<div class="span2 critical">{{'%0.2f'| format(data[key][1]|float) }}%</div>
    	{% else %}
    	<div class="span2 ok">{{'%0.2f'| format(data[key][1]|float) }}%</div>
    	{% endif %}
    {% endif %}
    {% for days in [30, 60, 90] %}
      {% if not data[key][days] %}
	  <div class="span2 unknown">None</div>
      {% else %}
    	{% if data[key][days] < 80 %}
          <div class="span2 critical">{{ data[key][days]|round(2, 'floor') }}%</div>
        {% else %}
          <div class="span2 ok">{{ data[key][days]|round(2, 'floor') }}%</div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
