{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">Job</div>
    <div class="span2">Last</div>
    <div class="span2">Today</div>
    <div class="span2">30 Days</div>
    <div class="span2">60 Days</div>
    <div class="span2">90 Days</div>
  </div>

  {% for key in data.keys() %}
  <div class="row-fluid">
    <div class="span2">{{ key[0] }} {{ key[1] }}</div>
    <div class="span2">{{ data[key][0] }}</div>
    <div class="span2">{{ data[key][1] }}</div>
    <div class="span2">{{ data[key][30] }}</div>
    <div class="span2">{{ data[key][60] }}</div>
    <div class="span2">{{ data[key][90] }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
