{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">Task <a href="{{ url_for('add_task') }}">&plus;</a></div>
    <div class="span5">Job</div>
    <div class="span1">Status</div>
    <div class="span1">Last</div>
    <div class="span1">Today</div>
    <div class="span1">30 Days</div>
    <div class="span1">60 Days</div>
    <div class="span1">90 Days</div>
  </div>
  <div id="results"><div align="center"><img src="{{ url_for('static', filename='img/loading.gif') }}" height="24" width="24"></div></div>
</div>
<script>
  $("#results").load("{{ url_for('dash_results') }}");
</script>
{% endblock %}
